<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>Controller.Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NomineeRegistration</servlet-name>
        <servlet-class>Controller.NomineeRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateVoter</servlet-name>
        <servlet-class>Controller.UpdateVoter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadVoterFile</servlet-name>
        <servlet-class>Controller.UploadVoterFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProbableNominee</servlet-name>
        <servlet-class>Controller.UpdateProbableNominee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadProbableNomineeList</servlet-name>
        <servlet-class>Controller.UploadProbableNomineeFile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/election-commissioner/Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/voter/Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/candidate/Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NomineeRegistration</servlet-name>
        <url-pattern>/NomineeRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NomineeRegistration</servlet-name>
        <url-pattern>/candidate/NomineeRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateVoter</servlet-name>
        <url-pattern>/UpdateVoter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateVoter</servlet-name>
        <url-pattern>/election-commissioner/UpdateVoter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProbableNominee</servlet-name>
        <url-pattern>/election-commissioner/UpdateProbableNominee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadProbableNomineeList</servlet-name>
        <url-pattern>/election-commissioner/UploadProbableNomineeList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadVoterFile</servlet-name>
        <url-pattern>/UploadVoterFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadVoterFile</servlet-name>
        <url-pattern>/election-commissioner/UploadVoterFile</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
